services:
  jenkins:
    build:
      context: ./jenkins
      dockerfile: Dockerfile
    container_name: jenkins
    user: root
    ports:
      - "${JENKINS_PORT}:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    environment:
      - JENKINS_PORT=${JENKINS_PORT}
    networks:
      - 'backend_network'
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/login" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s

  mysql:
    image: 'mysql:latest'
    environment:
      - 'MYSQL_DATABASE=${MYSQL_DATABASE}'
      - 'MYSQL_USER=${MYSQL_USER}'
      - 'MYSQL_PASSWORD=${MYSQL_PASSWORD}'
      - 'MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}'
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - '${MYSQL_EX_PORT}:${MYSQL_IN_PORT}'
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - 'backend_network'

  spring-app:
    build: .
    environment:
      - 'SPRING_DATASOURCE_URL=jdbc:mysql://${MYSQL_HOST}:${MYSQL_IN_PORT}/${MYSQL_DATABASE}'
      - 'SPRING_DATASOURCE_USERNAME=${MYSQL_USER}'
      - 'SPRING_DATASOURCE_PASSWORD=${MYSQL_PASSWORD}'
      - 'SPRING_PROFILE_ACTIVE=${SPRING_PROFILE_ACTIVE}'
      - 'JWT_SECRET_KEY=${JWT_SECRET_KEY}'
      - 'FILE_STORAGE_PATH=${FILE_STORAGE_PATH}'
      - 'EMAIL_ADDRESS=${EMAIL_ADDRESS}'
      - 'EMAIL_PASSWORD=${EMAIL_PASSWORD}'
      - 'BASE_PROFILE_IMAGE_NAME=${BASE_PROFILE_IMAGE_NAME}'
      - 'ADMIN_STUDENT_NUMBER=${ADMIN_STUDENT_NUMBER}'
      - 'ADMIN_PASSWORD=${ADMIN_PASSWORD}'
    volumes:
      - ${FILE_STORAGE_PATH}:${FILE_STORAGE_PATH}
    ports:
      - '${SPRING_APP_PORT}:8080'
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 500s
    depends_on:
      mysql:
        condition: service_healthy
      jenkins:
        condition: service_healthy

    networks:
      - 'backend_network'

volumes:
  jenkins_home:
  mysql_data:

networks:
  backend_network:
