spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
  devtools:
    restart:
      enabled: false
    livereload:
      enabled: false