spring:
  profiles:
    active: ${SPRING_PROFILE_ACTIVE}
  application:
    name: backend
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 30000
      max-lifetime: 1800000
      validation-timeout: 5000
      pool-name: Nova-Backend-Pool
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      timeout: 3000
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    out-of-order: false
  mail:
    host: smtp.naver.com
    port: 465
    username: ${EMAIL_ADDRESS}
    password: ${EMAIL_PASSWORD}
    properties:
      mail.smtp.auth: true        # SMTP 서버와의 인증
      mail.smtp.ssl.enable: true  # SSL 보안 연결(필수)
      mail.smtp.ssl.trust: smtp.naver.com
    sender: ${EMAIL_ADDRESS}

  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

file:
  storage:
    path: ${FILE_STORAGE_PATH}

profile:
  base:
    image:
      name: ${BASE_PROFILE_IMAGE_NAME}

admin:
  student:
    number: ${ADMIN_STUDENT_NUMBER}
  password: ${ADMIN_PASSWORD}

jwt:
  secret:
    key: ${JWT_SECRET_KEY}

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
  default-produces-media-type: application/json
  default-consumes-media-type: application/json